body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header {
    background-color: #0078D4;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold; 
    text-align: center;
    margin-bottom: 5px; 
}

h2 {
    padding: 5px 0px;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button {
    background-color: #0078D4;
    color: white;
    padding: 8px 15px;
    border: none;
    border-top-right-radius: 5px;  
    border-bottom-right-radius: 5px; 
    cursor: pointer;
}


.task-section {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.task-section li {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.delete-btn {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #cc0000;
}

.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
    cursor: pointer;
}

.notification {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px; 
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background-color: #0078D4;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


